p {
           color: black;
          font-family: cursive;}

 body{
                background-position: center;
                background-image: url(fondo.jpg);
                background-size:80%;
                background-repeat:  no-repeat;

            }
        